html,
body {
    margin: 0;
}

body {
    scrollbar-face-color: #333333;
    scrollbar-highlight-color: #333333;
    scrollbar-shadow-color: #333333;
    scrollbar-3Dlight-color: #333333;
    scrollbar-arrow-color: #EA8620;
    scrollbar-track-color: #FF9900;
    scrollbar-darkshadow-color: #333333;
    padding-top: 20px;
    padding-bottom: 20px;
}

a:link {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color: #FFFFFF;
    text-decoration: none;
}

a:visited {
    color: #000000;
    text-decoration: none;
}

.normal {
    font-size: 7.5pt;
    color: #FFFFFF;
    font-family: verdana;
}

.normal2 {
    font-size: 7.5pt;
    color: #000000;
    font-family: verdana;
}

.in {
    font-size: 7.5pt;
    color: #ffffff;
    font-family: Verdana;
}

input, select, textarea, button {
    border-right: #000000 1px solid;
    border-top: #000000 1px solid;
    border-left: #000000 1px solid;
    border-bottom: #000000 1px solid;
    background-color: #EA8620;
}

button {
    appearance: none;
}